@{ ViewData["Title"] = "Home Page"; }



<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-end">
            <div class="col-lg-11">
                <div class="row justify-content-end">

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-group"></i>
                            <span data-toggle="counter-up">10</span>
                            <p>Collaborations</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-heart-eyes"></i>
                            <span data-toggle="counter-up">300</span>
                            <p>Satisfied Clients</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-trophy"></i>
                            <span data-toggle="counter-up">12</span>
                            <p>Awards</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="icofont-clock-time"></i>
                            <span data-toggle="counter-history">5</span>
                            <p>Years of Experience</p>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6 video-box align-self-baseline" data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/img/about.jpg" class="img-fluid" alt="">
                @*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>*@
            </div>

            <div class="col-lg-6 pt-3 pt-lg-0 content">
                <h3>Flash Photography Agency</h3>
                <p class="font-italic">
                    Flash Photography Agency is a company that provides photography services in Ghana. Below are what we are known for:
                </p>
                <ul>
                    <li><i class="bx bx-check-double"></i> We provide clients with hight quality photos and videos.</li>
                    <li><i class="bx bx-check-double"></i> We build strong relationships with clients leading to 99% of repeating business.</li>
                    <li><i class="bx bx-check-double"></i> With our effective and efficient equipments we are creative and innovative  by serving clients with the best of services.</li>
                    <li><i class="bx bx-check-double"></i> We provide clients with enhanced, edited, and retouched images using variety of programs to achieve our goal of making clients satisfied.</li>
                </ul>
                <p>
                    “There are no rules for awesome works, just awesome works.”
                    You have the power to make your work look unique and truly amazing in our portfolio of photos and designs.
                    Our photographers and designers work on diverse day-to-day projects.
                    We strive to offer our customers the best service our industry has to offer.
                </p>
            </div>

        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= About Boxes Section ======= -->
<section id="about-boxes" class="about-boxes">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="card">
                    <img src="assets/img/about-boxes-1.jpg" class="card-img-top" alt="...">
                    <div class="card-icon">
                        <i class="ri-brush-4-line"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Our Mission</a></h5>
                        <p class="card-text">Our mission is to create lasting memories, in a way that has never been captured and this enlighten clients to a lifetime of beautiful memories.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="card">
                    <img src="assets/img/about-boxes-2.jpg" class="card-img-top" alt="...">
                    <div class="card-icon">
                        <i class="ri-calendar-check-line"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Our Plan</a></h5>
                        <p class="card-text">The company is dedicated to emerging technologies to provide the highest level of quality products and services to our clients. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="card">
                    <img src="assets/img/about-boxes-3.jpg" class="card-img-top" alt="...">
                    <div class="card-icon">
                        <i class="ri-movie-2-line"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Our Vision</a></h5>
                        <p class="card-text"> FPA focuses on our clients to make sure their time is valued, and the highest quality services are provided to their satisfaction. We serve clients in Ghana-Tarkwa, its surroudings and hopefully globally.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Boxes Section -->


<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
            <li class="nav-item col-3">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                    <i class="ri-camera-line"></i>
                    <h4 class="d-none d-lg-block">Photography</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                    <i class="ri-image-edit-line"></i>
                    <h4 class="d-none d-lg-block">Editing</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                    <i class="ri-computer-line"></i>
                    <h4 class="d-none d-lg-block">Design</h4>
                </a>
            </li>
            <li class="nav-item col-3">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                    <i class="ri-live-line"></i>
                    <h4 class="d-none d-lg-block">Videography</h4>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>95%</h3>
                        <p class="font-italic">
                           Our main focus is on taking photos to help our clients have centuries of memories to share among all generations.
                        </p>
                        
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/features-1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3> 85%</h3>
                        <p>
                         
                        </p>
                      
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/features-2.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-3">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3> 90%</h3>
                        <p>
                            Quality composition of objects and layout makes up a good photography contributing to the entire design.
                        </p>
                        
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/features-3.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                        <h3>78%</h3>
                        <p>
                            Our clients enjoy behind the scene videos as compared to the main event videos. As a result we turn to have photography sessions most of the times as compared to videos.
                        </p>
                       
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2 text-center">
                        <img src="assets/img/features-4.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->


<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About Our Various Packages</h2>
            <p>Our Services</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
            <div class="col-md-6">
                <div class="icon-box">
                    <i class="icofont-user-alt-3"></i>
                    <h4><a href="#">Portrait, Headshots and Teams</a></h4>
                    <p>Portrait photography captures the personality and mood of an indivual or group such as passport pictures, sport teams, family portraits etc.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-hanger"></i>
                    <h4><a href="#">Modeling and Fashion</a></h4>
                    <p>This depicts fashion shots, fitness shots, make-up, hair styling etc. for magazines and other purposes.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-building-alt"></i>
                    <h4><a href="#">Real Estate and Architecture</a></h4>
                    <p>We aim at catching Houses and other properties for estate agents or property renting agencies..</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-cocktail"></i>
                    <h4><a href="#">Food and Drinks</a></h4>
                    <p> This focuses on events and activities relating to food. It may include enticing images of beverages and food for magazines, recipe books etc.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-bow"></i>
                    <h4><a href="#">Formal and Casual Events</a></h4>
                    <p>This service type focus on indoor and outdoor events such as birthday parties, dances and weddings.</p>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="icon-box">
                    <i class="icofont-imac"></i>
                    <h4><a href="#">Photo Editing and Retouch</a></h4>
                    <p>We deal with editing, enhancing and retouching photos to make them look of the highest quality. </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Jacob Ansah</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    My aim is to make all client happy with our vission and mission.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Celina Godwin</h3>
                <h4>Customer Care</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    My priority is to serve all clients with our best.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Gifty Koomson</h3>
                <h4>Equipment Manager</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quality, effective and a good photographer is perfection.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Black</h3>
                <h4>Event Planner</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    What is a good photography without a planned session.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Daniel Owusu</h3>
                <h4>Marketing Director</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Yes! Our services marks us with the perfect business platform.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>

        </div>

    </div>
</section><!-- End Testimonials Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Our photo Gallery</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Gallery1</li>
                    <li data-filter=".filter-card">Gallery2</li>
                    <li data-filter=".filter-web">Gallery3</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            </div>

        </div>

    </div>
</section>
<!-- End Portfolio Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Team</h2>
            <p>our Team</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="pic"><img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Charlse Ayisuhede</h4>
                        <span>Director of Photography</span>
                        <div class="social">

                            <a href="https://www.facebook.com/KANGMENINAH"><i class="icofont-facebook"></i></a>
                            <a href="https://instagram.com/flash_photograoht_agency?igshid=dd4r0s07m1xa"><i class="icofont-instagram"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="pic"><img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Lady Lavalle</h4>
                        <span>Camera Operator</span>
                        <div class="social">

                            <a href="https://www.facebook.com/KANGMENINAH"><i class="icofont-facebook"></i></a>
                            <a href="https://instagram.com/flash_photograoht_agency?igshid=dd4r0s07m1xa"><i class="icofont-instagram"></i></a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="member">
                    <div class="pic"><img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Leopold Kwao</h4>
                        <span>Digital Imaging Technician</span>
                        <div class="social">

                            <a href="https://www.facebook.com/KANGMENINAH"><i class="icofont-facebook"></i></a>
                            <a href="https://instagram.com/flash_photograoht_agency?igshid=dd4r0s07m1xa"><i class="icofont-instagram"></i></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up" ">

        <div class=" section-title">
            <h2>For more enquiries?.</h2>
            <p>Contact Us</p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Our Address</h3>
                            <p>00233 Tarkwa Opposite Delta Lodge. Ghana-Tamso.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Email Us</h3>
                            <p>Flashphotographyagency@gmail.com <br>Shdassah@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Call Us</h3>
                            <p>+233 244 6120 75<br>+233 243 7359 54</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
                @*<form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validate"></div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validate"></div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validate"></div>
                        </div>
                        <div class="mb-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>*@
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->



